body {
    background: rgb(248, 248, 248) !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dark-bg {
    background: #242424;
}

.text-light {
    color: #f8f8f8;
}